*{
    margin: 0;
    padding: 0;
}

body
{
    /*background-color: #ffc107;*/
    background-color: firebrick;
    display: flex;
    flex-direction: column;
}

.logotipo
{
    background-image: url(../imagens/favicon.jpg);
    background-size: 100%;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

nav
{
    border-radius: 5px;
}

